<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>TheNameOfThisBandIs</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="514994321753-haa5mtf623hrkaiqaunsg9vh7mmaqchb.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://apis.google.com/js/client:plusone.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
